@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/base/variables.css";
@import "./styles/base/reset.css";
@import "./styles/components/scrollbars.css";
@import "./styles/components/inputs.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.react-tooltip {
  position: fixed !important;
  z-index: 9999 !important;
}
.swiper-button-next {
  display: none !important;
}
.swiper-button-prev {
  display: none !important;
}
.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
